<h1>New geo_datum</h1>

<%= render 'form' %>
<%= form_tag import_geo_data_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
<% end %>
<%= link_to 'Back', geo_data_path %>
