<h1>Listing dataunits</h1>

<table>
  <thead>
    <tr>
      <th>Geovalue</th>
      <th>Datavalue</th>
      <th>Dataset</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dataunits.each do |dataunit| %>
      <tr>
        <td><%= dataunit.geoValue %></td>
        <td><%= dataunit.dataValue %></td>
        <td><%= dataunit.dataset.try(:dataName) %></td>
        <td><%= dataunit.user.try(:username) %></td>
        <td><%= link_to 'Show', dataunit %></td>
        <td><%= link_to 'Edit', edit_dataunit_path(dataunit) %></td>
        <td><%= link_to 'Destroy', dataunit, method: :delete, data: {  } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dataunit', new_dataunit_path %>
