<div class="container">
<h1>Karl Dailey</h1>
<h5>daileyk@upenn.edu</h5>
<%= image_tag("ohiopyle.jpg") %>
	<br/>
	<br/>
	<h2>Professional Experience</h2>
	<div class="row">
		<div class="col-md-8">
			<h3 class="myLeft">Database Administrator - Programmer</h3>
			<small class="footnote">University of Pennsylvania</small><br/>
			<small class="footnote">June 2007 - Present</small>
		</div>
		<div class="col-md-4 myRight">
			<br/><a href="http://cml.upenn.edu/" target="blank">
			 <%= image_tag("Penn2.png") %>
		</div>
	</div>
	<h3></h3>
	<div class="row">
		<div class="col-md-8">
			<ul>
			<li>Develop Rich Internet Applications (RIA) using Flash Builder, ESRI API for FLEX, JavaScript, and Google Maps API such as 
				<label class="control-label" style="text-align:left;display:inline;">
								<a type="button" href="http://www.traumamaps.org" target="blank" id="popTrauma" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottoom" 
								data-content="<%= image_tag("Trauma.jpg", :size => "180x180") %>
								traumamaps.org</a></label>
				 which generated 2.6 million hits <a href="http://content.time.com/time/health/article/0,8599,2083636,00.html" target="blank">(featured in TIME Magazine July 2011)</a></li>
			<li>Developed Sandbox tools that allows researchers to build hospital systems and do research on the fly through ad-hoc and optimal selections.  The tool went above and beyond the clients expectations</li>
			<li>Responsible for collection, processing, integration and analysis of source data provided by government agencies and community groups</li>
			<li>Migrated physical servers to Amazon EC2 and other cloud solutions such as VMware thus improving scalability and reliability while reducing costs by 40,000$+</li>
			<li>Use geo-processing and analysis (ESRI ArcGIS Server, SDE, and Network Analyst) for understanding and improving the decision making process for disaster management, access to health care, and other planning related topics</li>
			<li>Create enterprise websites that automatically scales up during high traffic times and scales back down.  Tested system with load generating software (JMeter)</li>
			<li>Use C# and Python applications for geospatial research, web scraping, and data mining</li>
			<li>Maintaining a complex set of geographic SQL Server databases (MS SQL Server, MySQL, PostgreSQL</li>
			<li>Assists in planning, research, and other data-related aspects for projects</li>
			</ul>
		</div>
		<div class="col-md-4 myRight">
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<h3 class="myLeft">Adjunct Professor: Web Based GIS</h3>
			<small class="footnote">University of Pennsylvania</small><br/>
			<small class="footnote">August 2010 - Present</small>
		</div>
		<div class="col-md-4 myRight">
			<br/><a href="http://cml.upenn.edu/" target="blank"><%= image_tag("Penn2.png") %></a>
		</div>
	</div>
	<ul>
		<li>Provide graduate students with the tools to develop geospatial web applications using the Google Maps API, ArcGIS Server, ArcGIS API for FLEX, etc.</li>
		<li>Experience helped students obtain the prestigious ESRI Summer Internship program in Redlands California</li>
	</ul>
	<div class="row">
		<div class="col-md-8">
			<h3 class="myLeft">IT Systems Admin</h3>
			<small class="footnote">MetaSource</small><br/>
			<small class="footnote">January 2005 - June 2007 </small>
		</div>
		<div class="col-md-4 myRight">
			<br/><%= image_tag("MetaSource.png") %>
		</div>
	</div>
	<ul>
		<li>Troubleshooting imaging software and all encompassing components including IIS, SQL Server 2000/2005, Oracle 9i, Windows 2000/2003 Servers</li>
		<li>Writing custom software in Visual Basic to automate tasks within the company</li>
		<li>Creating ASP pages and maintaining the company website</li>
	</ul>
	
	
	<hr/>
	<h2>Projects</h2>
		<div class="row">
			<div class="col-md-8">
				<h3 class="myLeft">OinkBay</h3>
				<small class="footnote"><a href="http://www.oinkbay.com/" target="blank">oinkbay.com</a><br/> Pig sharing website created (with Ruby on Rails) and owned by me</small>
			</div>
			<div class="col-md-4 myRight">
				<br/><a href="http://www.oinkbay.com/" target="blank"><%= image_tag("OinkBay.png") %></a>
			</div>
		</div>
	<ul>
		<li>Implements a user login system that includes Facebook integration, liking/disliking system, and user generated comments on specific images (login required)</li>
		<li>Images (uploaded via link or file system) are stored on Amazon's S3 AWS Services</li>
	</ul>
	<div class="row">
		<div class="col-md-8">
			<h3 class="myLeft">Mappening</h3>
			<small class="footnote"><a href="http://www.mappening.net/" target="blank">mappening.net</a><br/> Geospatial blog created by me with WordPress, under construction</small>
		</div>
		<div class="col-md-4 myRight">
			<br/><a href="http://www.mappening.net/" target="blank"><%= image_tag("Mappening.png") %></a>
		</div>
	</div>

	<ul>
		<li>Currently in its nascent stage, users can use blogs, forums, and basic social network tools for geo spatial topics</li>
		<li>Wrote online tutorials for scraping Twitter and other data with Python</li>
	</ul>
	<hr/>
	<h2>Education</h2>
	<div class="row">
		<div class="col-md-8">
			<h3 class="myLeft">University of Pennsylvania</h3>
			<small class="footnote">M.S.E., Computer and Information Science</small>
			<br/><small class="footnote">2014 - 2016 (Expected)</small>
		</div>
		<div class="col-md-4 myRight">
			<br/><%= image_tag("Penn2.png") %>
		</div>
	</div>
	<ul>
		<li>OPIM 672: Data Mining for Business Intelligence</li>
		<li>Ruby on Rails Web Development</li>
	</ul>
	<div class="row">
		<div class="col-md-8">
			<h3 class="myLeft">Wharton Business School</h3>
			<small class="footnote">Executive Education, Business</small>
			<br/><small class="footnote">2007 - 2009</small>
		</div>
		<div class="col-md-4 myRight">
			<br/><%= image_tag("wharton-business-school.png") %>
		</div>
	</div>
	<ul>
		<li>Management, Managerial Accounting, Corporate Finance, Marketing, <br/>New Product Management, Formation and Implementation of Entrepreneurial Ventures</li>
	</ul>
	<div class="row">
		<div class="col-md-8">
			<h3 class="myLeft">Penn State University</h3>
			<small class="footnote">No Major</small>
			<br/><small class="footnote">2002 - 2004</small>
		</div>
		<div class="col-md-4 myRight">
			<br/><%= image_tag("Penn-State-University.png") %>
		</div>
	</div>
	<ul>
		<li>Study Abroad Program: Singapore</li>
		<li>Dean's List each semester</li>
	</ul>
	<div class="row">
		<div class="col-md-8">
			<h3 class="myLeft">La Salle University</h3>
			<small class="footnote">BS, Computer Science</small>
			<br/><small class="footnote">1998 - 2002</small>
		</div>
		<div class="col-md-4 myRight">
			<br/><%= image_tag("LaSalle.png") %>
		</div>
	</div>
	<ul>
		<li>Video Game Programming</li>
		<li>Lead Project Manager in Software Engineering course</li>
	</ul>
	<hr/>
	<h2>Computer Skills</h2>
	Programming Languages:
	<ul>
		<li>C#, C++, C, Java, Python, Visual Basic</li>
	</ul>
	Web Front End:
	<ul>
		<li>HTML, CSS, JavaScript, XML</li>
	</ul>
	Web Back End:
	<ul>
	<li>PHP, ASP, ASP.NET, Ruby</li>	
	</ul>
	Application Frameworks/Environments:
	<ul>
	<li>Flash Builder/FLEX, Ruby on Rails, Eclipse, Visual Studio</li>	
	</ul>
	String Database Background Including:
	<ul>
	<li>Microsoft SQL Server, MySQL, PostgreSQL, Oracle, MS Access</li>	
	</ul>
	Servers and Hosting:
	<ul>
	<li>Amazon Web Services, ArcGIS Server, IIS</li>	
	</ul>
	ESRI:
	<ul>
	<li>ArcGIS Server, ArcGIS SDE, Business Analyst, Network Analyst, ArcGIS Desktop</li>	
	</ul>
	Other:
	<ul>
	<li>Google Maps API</li>
	<li>Web Scraping</li>
	</ul>
	
	<br/><br/><br/><br/>
    </div> <!-- /container -->